body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.6;
    color: #1B365C;
}

/* Контейнер для кнопок в правом верхнем углу */
.header-buttons {
    position: absolute; /* Важно для кнопок в шапке */
    top: 15px;
    right: 20px;
    z-index: 1000; /* Чтобы кнопки были поверх фона */
    background: transparent;
    display: flex;
    align-items: center;
}

/* Стили для кнопки "Выйти" */
.logout-btn {
    color: #ffffff; /* Белый текст */
    background-color: #1B365C; /* Голубой фон */
    padding: 8px 16px; /* Отступы внутри кнопки */
    border: none; /* Без границы */
    border-radius: 8px; /* Скругленные углы */
    font-weight: 550;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавное изменение фона */
}

/* Ховер для "Выйти" */
.logout-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

@media (max-width: 576px) {
    .logout-btn {
        font-size: 0.9rem;
        padding: 0.4rem 0.8rem;
    }
}
